@charset "utf-8";
@import url(common/reset.css);
@import url(header/header_brief.css);
@import url(footer/footer_brief.css);


:root {
    --basic-green-color: #96c11f;
    --bg-grey-color: #e6e6e6;
    --border-grey-color: #f6f6f6;
    --input-grey-color: #ddd;
}

.container{
    width: 100%;
    height: auto;
}
.container .inner-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.container .inner-container .index{
    width: 100%;
    height: auto;
    padding: 6.875rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .inner-container .index .title{
    width: 100%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    font-size: 1.25rem;
}
.container .inner-container .index .title .circle{
    width: 36px;
    height: 36px;
    background-color: var(--basic-green-color);
    border-radius: 50%;
    margin-bottom: 8px;
}
.container .inner-container .index .title h1.title{
    font-size: 2.4em;
    font-weight: 400;
    word-spacing: 3px;
    padding-bottom: 3.125rem;
    border-bottom: 1px solid #aaa;

}
.container .inner-container .index .fieldset{
    width: 100%;
    max-width: 56.25rem;
    border:0px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}
.container .inner-container .index .fieldset .login-form{
    width: 100%;
    max-width: 480px;
    border:0px solid #f00;
    margin-top: 6.25rem;
}
.container .inner-container .index .fieldset .login-form form{
    font-size: 1.25rem;
}
.container .inner-container .index .fieldset .login-form input{
    width: 100%;
    height: auto;
    padding:  0.688rem 1rem;
    font-size: .8em;
    background-color: #fff;
    color: #e6e6e6;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    outline: transparent;
}
.container .inner-container .index .fieldset .login-form input:focus{
    border: 1px solid var(--basic-green-color);
    outline: transparent;
}
.container .inner-container .index .fieldset .login-form input::-webkit-input-placeholder{
    color: #aaa;
}

.container .inner-container .index .fieldset .login-form input::-ms-input-placeholder{
    color: #aaa
}
.container .inner-container .index .fieldset .login-form input::-moz-input-placeholder{
    color: #aaa;
}
.container .inner-container .index .fieldset .login-form input:focus::-webkit-input-placeholder{
    color: transparent;
}
.container .inner-container .index .fieldset .login-form input:focus::-ms-input-placeholder{
    color: transparent;
}
.container .inner-container .index .fieldset .login-form input:focus::-moz-input-placeholder{
    color: transparent;
}
.container .inner-container .index .fieldset .login-form input[type=checkbox]{
    width: .8rem;
    height: .8rem;
    margin-right: .1rem;
    margin-bottom: 0rem;

}
.container .inner-container .index .fieldset .login-form input[type="button"]{
    width: 100%;
    height: auto;
    border: 0px solid;
    background: var(--basic-green-color);
    color: #000;
    margin: 2.25rem 0 1.875em;
    padding: 1rem 0.875em ;
    font-weight: bold;
}
.container .inner-container .index .fieldset .login-form .idSave{
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    color: #555;
    letter-spacing: -0.5px;
}

.container .inner-container .index .fieldset .account-utils{
    width: 100%;
    max-width: 480px;
    border:px solid #f00;
    display: flex;
    justify-content: center;
    /* padding: 0 5.125rem; */
    /* margin-top: 2.25rem; */
}
.container .inner-container .index .fieldset .account-utils>ul{
    display: flex;
    justify-content: space-between;
}
.container .inner-container .index .fieldset .account-utils>ul>li{
    font-size: 1rem;
    padding:0 1rem;
    position: relative;
}
.container .inner-container .index .fieldset .account-utils>ul>li:nth-child(1):after{
    display:none;
}
.container .inner-container .index .fieldset .account-utils>ul>li::after{
    content: '';
    width:1px;
    height:0.925rem;
    background: #e4e4e4;
    position: absolute;
    left:0;
    top: 50%;
    transform:translateY(-50%);
}

.container .inner-container .index .sns-account{
    width: 100%;
    max-width: 480px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    font-size: 1.25rem;
    margin-top: 60px;
    border-top: 1px solid #e4e4e4;
}
.container .inner-container .index .sns-account .title{
    font-size:.8em;
    font-weight: bold;
    margin: 30px 0 25px;
}
.container .inner-container .index .sns-account>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .inner-container .index .sns-account>ul>li{
    width:14.3333%;
    height: auto;
    margin:0 3%;
    transition: all .15s;
}
.container .inner-container .index .sns-account>ul>li img{
    display:block;
    width:100%;
    height:auto;
}


 /* meaia query */
@media only screen and (max-width:991px) {
        .container .inner-container .index .fieldset .login-form{
            margin-top: 4.188rem;
        }
        .container .inner-container .index{
            width: 100%;
            height: auto;
            padding: calc(6.875rem/2) 0;
        }    
        .container .inner-container .index .title h1.title{
        font-weight: 600;
        font-size: 1.75rem;
        padding-bottom: 0rem;
        border-bottom: 0px solid #aaa;
        }
        .container .inner-container .index .fieldset .login-form .idSave{
            display: inline-block;
            font-size: .65em;
            font-weight: bold;
            color: #555;
            letter-spacing: -0.5px;
            margin-bottom: -0.35rem
        }
        
        .container .inner-container .index .fieldset .login-form input::-webkit-input-placeholder{
            font-size: 0.875rem;
        }
        .container .inner-container .index .fieldset .login-form input::-ms-input-placeholder{
            font-size: 0.875rem;
        }
        .container .inner-container .index .fieldset .login-form input::-moz-input-placeholder{
            font-size: 0.875rem;
        }
        .container .inner-container .index .fieldset .account-utils>ul>li{
            font-size: 0.875rem;
            text-align: center;
            word-wrap: keep-all;
        }
        .container .inner-container .index .sns-account>ul>li{
            width:14.3333%;
            padding:0 .25rem;
        }       
}
    /* max-width:767 px */
    @media only screen and (max-width:767px) {
        .container .inner-container .index .fieldset .login-form{
            min-width: 20rem;
        }

        .container .inner-container .index .fieldset .account-utils{
            min-width: 20rem;
            border:px solid #f00;
            /* padding: 0 3.625rem; */
        }
        .container .inner-container .index .fieldset .account-utils>ul>li{
            /* min-width: 5.2rem; */
            text-align: center;
        }
        .container .inner-container .index .sns-account{
            min-width: 20rem;
        }
        .container .inner-container .index .sns-account>ul>li{
            min-width: 3.5rem;
            padding:0 .25rem;
        }   
}