@charset 'utf-8';
@import url(common/reset.css);

:root {
    --basic-green-color: #96c11f;
    --bg-grey-color: #e6e6e6;
    --border-grey-color: #f6f6f6;
    --input-grey-color: #ddd;
}

@media only screen and (max-width:991px) {
    .header .inner-header .nav{
        display: none;
    }
    .responsive-header{        
        width: 100%;
        height: auto;    
        border: 0px solid #f00;
        display: block;
    }
    .responsive-header .res-inner-header{        
        width: 100%;        
        position: relative;
        /* max-width: 991px; */
        height:auto;
        border: 0px solid #00f;
        display:flex;
        justify-content: space-between;
    }
    
    .responsive-header .res-inner-header h1.logo{
        width:85px;
        height:auto;
        border: 0px solid #f00;
        margin: 13px 20px;
        display: inline-block;
    }
    .responsive-header .res-inner-header h1.logo img{
        display:block;
        width:100%;
        height:auto;
    }
    .responsive-header .res-inner-header .res-menu{
        width: auto;
        border:0px solid #f00;
        height: auto;
        display:flex;
        justify-content: flex-start;  
        padding: 13px 20px; 
        cursor: pointer;
    }
    .responsive-header .res-inner-header .res-menu span.menu{
        display: block;
        width: 25px;
        height: auto;
        border:0px solid #f00;
        margin-left: 20px;
    }
    .responsive-header .res-inner-header .res-menu span.menu.nav{
        width: 23px;
    }

    .responsive-header .res-inner-header .res-menu span.menu img{
        display:block;
        width:100%;
        height:auto;
    }
    .res-nav{
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .5s;
        width:100%;
        height:100vh;
        /* opacity: 0; */
        visibility: hidden;
        overflow-y: auto;
    }
    .navOpen{
        width: 100% !important;
        transform: translateX(0%) !important;
        opacity: 1 !important;
        visibility: visible !important;

    }
    .res-nav .top-header{
        width: 100%;
        height: auto;    
        /* border: 1px solid ; */
        box-shadow: 0px 10px 15px rgba(125, 125, 125, 0.3);
        border-top: 4px solid var(--basic-green-color);
        padding: 9px 18px 0;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .res-nav .top-header h1.logo{
        width:80px;
        height:auto;
        border: 0px solid #f00;
    }
    .res-nav .top-header h1.logo img{
        display:block;
        width:100%;
        height:auto;
    }
    .res-nav .top-header .goTo-menu{
        width:16.9525%;
        max-width:168px;
        height:24px;
        /* padding-top: 4px; */
        border: 0px solid;
    }
    .res-nav .top-header .goTo-menu>ul{
        display:flex;
        justify-content: space-between;
    }
    .res-nav .top-header .goTo-menu>ul>li{
        width:17px;
        border:0px solid;
        height:auto;
        /* padding:8px; */
        opacity: .7;
    }
    .res-nav .top-header .goTo-menu>ul>li img{
        display:block;
        width:100%;
        height:auto;
    }


    .res-nav .top-header .goTo-menu>ul>li:nth-child(3){
        width:23px;
        padding-top: 1px;
    }


    /* brand-sites */
    .res-nav .top-header>ul.brand-sites{
        width: 100%;
        height: auto;
        margin-top:27px;
        display: flex;
        justify-content: space-between;
        line-height: 42px;
        /* padding-top: 3px; */
    }
    .res-nav .top-header>ul.brand-sites>li{
        width: 25%;
        text-align: center;
        font-size: 0.938rem;
        transition: all .3s;
        line-height:38px;
    }
    .res-nav .top-header>ul.brand-sites>li>a{
        width: 100%;
        display: block;
        font-weight: bold;
        position: relative;
        color: #999;
    }
    .res-nav .top-header>ul.brand-sites>li:nth-child(1)>a{
        color: #000;
    }
    .res-nav .top-header>ul.brand-sites>li>a::after{
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        z-index: 9999;
    }
    .res-nav .top-header>ul.brand-sites>li:hover>a{
        color: #000;
    }
    .res-nav .top-header>ul.brand-sites>li:hover>a::after{
        width: 90%;
        opacity: 1;
        visibility: visible;
    }
    .res-nav .top-header>ul.brand-sites>li:nth-child(1)>a::after{
        background-color: var(--basic-green-color);
        width: 90%;
        opacity: 1;
        visibility: visible;
    }
    .res-nav .top-header>ul.brand-sites>li:nth-child(2)>a::after{
        background: var(--basic-red-color);
    }
    .res-nav .top-header>ul.brand-sites>li:nth-child(3)>a::after{
        background: var(--basic-orange-color);
    }
    .res-nav .top-header>ul.brand-sites>li:nth-child(4)>a::after{
        background: var(--basic-blue-color);
    }

/* bottom-header(gnb) 시작*/
    .res-nav .bottom-header{
        width: 100%;
        height: auto;
        padding: 27px 30px;
    }
    .res-nav .bottom-header .gnb{
        width: 100%;
        max-width: 650px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex: 1; */
        border:0px solid #00f;
        /* padding: 1.75rem 0 1.5rem; */
    }
    .res-nav .bottom-header .gnb>ul{
        /* width: 33.8541%;
        min-width: 650px; */
        width: 100%;
        max-width: 650px;
        height: auto;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .res-nav .bottom-header .gnb>ul>li{
        padding: 0px 0;
        /* border-top: 1px solid #ccc; */
    }   
    .res-nav .bottom-header .gnb>ul .all{
        width: 100%;
        margin: 27px 0 20px;

    }
    .res-nav .bottom-header .gnb>ul ul{
        /* font-weight: 600; */
        display:flex;
        width:100%;
        flex-wrap: wrap;
        padding: 20px 0 0px;

    }
    .res-nav .bottom-header .gnb>ul ul>li{
        width: 30%;
        font-weight: 400;
        font-size: 0.82rem;
        line-height:2.5rem;
    }
    .new{
        margin-left:30px;
    }
    .res-nav .bottom-header .gnb>ul>li>a{
        display: block;
        position: relative;
    }
    .res-nav .bottom-header .gnb .N-LIVE>a{
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: .5px;
        margin-left:10px;
        position: relative;
    }
    .res-nav .bottom-header .gnb .N-LIVE>a::after{
        height: 0px;
    }
    .res-nav .bottom-header .gnb .N-LIVE>a::before{
        cursor: pointer;
        content: '';
        background: url(../../img/nlive-border.png)no-repeat 50%;
        display: block;
        width: 12rem;
        height: 3rem;
        position: absolute;
        top:55%;
        left: 50%;
        /* top:5%;
        right: 0%; */
        transform: translate(-50%, -50%);
        border: 0px solid #fff;
    }
    .res-nav .bottom-header .gnb>ul>li ul.sub-gnb{
        width: 100%;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        padding: 14px 0 18px;
        margin-bottom: 28px;
    }
    .res-nav .bottom-header .gnb>ul>li ul.sub-gnb>li{
        width: 33.3333% !important;
    }
    .res-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a{
        width: 100%;
        flex-direction: column;
        font-weight: 300;
        font-size: 0.813rem;
        border: px solid #f00;
        letter-spacing: 0;
        line-height:2rem;
        position: relative;
        
    }
    .res-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::before{
        content:'';
        width: 10px;
        height: 10px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
    }
    .res-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::after{
        content:'';
        width: 3px;
        height: 3px;
        border: 1px solid #555;
        border-right: 0;
        border-bottom: 0;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: -15px;
        transform: rotate(135deg);
        z-index: 13;
    }

    ul.sub-gnb ul.sub-3depth{
        grid-area: 2 / 3 / -1/ -1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    ul.sub-gnb ul.sub-3depth>li{
        width: 100%;
        font-weight: 400;
        font-size: 0.9em;
        margin: .6vh 0;
        display:none;
    }
    .gnb>ul>li:nth-child(1) .sub-gnb:nth-child(1) ul.sub-3depth:nth-child(2){
        width: 100%;
        flex-direction: column;
        font-weight: 400;
        font-size: 0.9em;
        border: 1px solid #f00;

    }
    .sub-3depth.columns3>li{
        display:none;
    }
    
    
    /*gnb-sub -- 3depth-sub 세부*/
    .res-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 1 / -1 / 2 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(6){
        grid-area: 2 / 2 / -1/ 3 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(7){
        grid-area: 2 / 3 / -1/ 4 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(4){
        grid-area: 1 / 4 / 2 / -1 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 1 / -1/ 2 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(6){
        grid-area: 2 / 2 / -1/ 3 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(4){
        grid-area: 2 / 1 / -1 / 3 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 3 / -1/ -1 !important;
    }
    .res-nav .bottom-header .gnb>ul>li:nth-child(5) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 1 / -1/ 2 !important;
    }
    

}