@charset "utf-8";
@import url(../common/reset.css);




:root {
    --basic-green-color: #96c11f;
    --basic-red-color: #da1009;
    --basic-orange-color: #fe8100;
    --basic-blue-color: #47b3ea;
    --bg-grey-color: #e6e6e6;
    --border-grey-color: #f6f6f6;
    --input-grey-color: #ddd;
}



/* section.sec5 시작 */
.container .inner-container .index .sections .section.sec5{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container .inner-container .index .sections .section.sec5 .sec-con {
    width: 100%;
    max-width: 1603px;
    height: auto;
    border: 0px solid #f00;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 192px;

}

.container .inner-container .index .sections .section.sec5 .sec-con h1{
    position: absolute;
    top:28px;
    z-index: 50;
}
.container .inner-container .index .sections .section.sec5 .sec-con .main-con-img{
    width: 100%;
    border: 0px solid #00f;
    background: url(../../img/sec5_0.png)no-repeat 50% /cover;
    width: 100%;
    height: 892px;
    margin-bottom: 40px;
}
.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 50;

}
.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,190px);
    padding: 90px 50px 0;
    /* margin: 0 12.1646%; */
    column-gap: 4.8vw;
    margin:0 15px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    margin: 0 auto;
}
.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li{
    text-align: center;
    word-break: keep-all;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    justify-content: center;
    font-size: 1.25rem;
    position: relative;
    /* padding:0 30px; */
}
.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li>p.info-title{
    width: 190px;
    height: 190px;
    line-height: 190px;
    vertical-align: middle;
    word-break: break-all;
    background: #0008;
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 50%;
}


.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li span{
    display: block;
    color:#fff;
    font-size: 1.1em;
    line-height: 36px;
    word-wrap: break-word;
    margin-top:25px;
    position: relative;
}
.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li span::after{
    content: '';
    /* border-top: 2px solid var(--basic-red-color); */
    width: 100%;
    height: 2px;
    background: var(--basic-red-color);
    position: absolute; 
    top: -25px;
    left: 0;

}


.container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li:nth-child(3){
    padding:0 0;
}

/* meaia query */

@media only screen and (max-width:991px) {
    .container .inner-container .index .sections .section.sec5 .sec-con{
        padding-top: 112px;
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
        /* padding-top: 192px; */
    }
    .container .inner-container .index .sections .section.sec5 .sec-con h1{
        position: absolute;
        top:0px;
    }    
    .container .inner-container .index .sections .section.sec5 .sec-con .main-con-img{
        width: 100%;
        max-width: 720px;
        border: 0px solid #00f;
        background: url(../../img/sec5_0.png)no-repeat 50% /cover;
        height: 892px;
        position: relative;
        margin: 0 auto;
        margin-bottom:40px;
    }
    .container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul{
        grid-template-columns: repeat(1,40%);
        grid-template-rows: repeat(6,auto);
        /* padding-top: 90px; */
        /* margin: 0 12.1646%; */
        column-gap: 4.8vw;
        margin:0 0px 60px;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0%);
        justify-content: center;
    }
    .container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li{
        display: flex;
        align-items: center;
    }
    .container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li>p.info-title{
        width: 120px;
        height: 120px;
        line-height: 120px;
        vertical-align: middle;
        word-break: break-all;
        background: #0008;
        font-size: 1.063rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 30px;
        border-radius: 50%;
    }

    .container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li span{
        display: block;
        color:#fff;
        font-size: 1rem;
        line-height: 1.375rem;
        word-wrap: break-word;
        margin:25px 0 30px;
        position: relative;
    }
    .container .inner-container .index .sections .section.sec5 .sec-con .info-boxes>ul>li span::after{
        content: '';
        /* border-top: 2px solid var(--basic-red-color); */
        width: 100%;
        height: 2px;
        background: var(--basic-red-color);
        position: absolute; 
        top: -25px;
        left: 0;
    
    }
        
}

/* max-width:767 px */
@media only screen and (max-width:767px) {

}