@charset 'utf-8';
@import url(../common/reset.css);


/* footer 시작 */
.footer{
    width:100%;
    height: auto;
}
.footer .inner-footer{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e4e4e4;
    padding:2.375rem 5.281rem;
}
.footer .inner-footer .footer-con{
    width:100%;
    height:6.25rem;
    max-width: 73.125rem;
}
.footer .inner-footer .footer-con p{
    color: #666;
}

 /* meaia query */
@media only screen and (max-width:991px) {
    .inner-footer{
        height:0;
    }
    .footer .inner-footer .footer-con{
        height:0px;
    }
    p.copyright{
        font-size: .75rem;
        text-align: center;
    }
}