@charset "utf-8";
@import url(common/reset.css);

:root {
    --basic-green-color: #96c11f;
    --bg-grey-color: #e6e6e6;
    --border-grey-color: #f6f6f6;
    --input-grey-color: #ddd;
}

@media only screen and (max-width:991px) {

    /* .rwd-header .pc-hidden{
        display: none !important;
    }
     */
    .header .inner-header .nav{
        display: none;
    }
    
    .rwd-header{        
        display: block;
        width: 100%;
        height: 100vh;    
        border: 0px solid #f00;
        background-color:#0002;
        background-color:transparent;
        
    }
    .rwd-header .rwd-inner-header{        
        width: 100%;        
        /* max-width: 991px; */
        border: 0px solid #00f;
        display:flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        box-sizing: border-box;

        display:block;
    }
    .rwd-header .rwd-inner-header h1.logo{
        width:85px;
        height:auto;
        border: 0px solid #f00;
        margin: 13px 20px;
    }
    .rwd-header .rwd-inner-header h1.logo img{
        display:block;
        width:100%;
        height:auto;
    }
    .rwd-header .rwd-inner-header .rwd-menu{
        width: auto;
        border:0px solid #f00;
        height: auto;
        display:flex;
        justify-content: flex-start;  
        padding: 13px 20px; 

    }
    .rwd-header .rwd-inner-header .rwd-menu span.menu{
        display: block;
        width: 25px;
        height: 25px;
        border:1px solid #f00;
        margin-left: 20px;
    }
    .rwd-header .rwd-inner-header .rwd-menu span.menu img{
        display:block;
        width:100%;
        height:auto;
    }
    .rwd-nav{
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .5s;
        width:100%;
        height:auto;
        /* opacity: 0; */
        visibility: hidden;
        overflow-y: auto;
    }
    .navOpen{
        width: 100% !important;
        transform: translateX(0%) !important;
        opacity: 1 !important;
        visibility: visible !important;

    }
    .rwd-nav .top-header{
        width: 100%;
        height: 53px;    
        /* border: 1px solid ; */
        box-shadow: 0px 10px 15px rgba(125, 125, 125, 0.3);
        border-top: 4px solid var(--basic-green-color);
        padding: 9px 18px 0;
        display:flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;

        display:block;
    }
    .rwd-nav .top-header h1.logo{
        width:85px;
        height:auto;
        border: 0px solid #f00;
    }
    .rwd-nav .top-header h1.logo img{
        display:block;
        width:100%;
        height:auto;
    }
    .rwd-nav .top-header .goTo-menu{
        width:16.9525%;
        max-width:168px;
        height:24px;
        /* padding-top: 4px; */
        border: 0px solid;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        right: 18px;

        display: block;
    }
    .rwd-nav .top-header .goTo-menu>ul{
        display:flex;
        justify-content: space-between;
    }
    .rwd-nav .top-header .goTo-menu>ul>li{
        width:17px;
        border:0px solid;
        height:auto;
        /* padding:8px; */
        opacity: .7;
    }
    .rwd-nav .top-header .goTo-menu>ul>li img{
        display:block;
        width:100%;
        height:auto;
    }


    .rwd-nav .top-header .goTo-menu>ul>li:nth-child(3){
        width:23px;
        padding-top: 1px;
    }


    /* brand-sites */
    .rwd-nav .brand-sites{
        width: 100%;
        height: auto;
        margin-top:27px;
        line-height: 42px;
    }
    .rwd-nav .brand-sites>ul{

        display: flex;
        justify-content: space-between;

        /* padding-top: 3px; */
        position: relative;
    }
    .rwd-nav .brand-sites>ul>li{
        width: 25%;
        text-align: center;
        font-size: 0.938rem;
        transition: all .3s;
        line-height:38px;
    }
    .rwd-nav .brand-sites>ul>li>a{
        width: 100%;
        display: block;
        font-weight: bold;
        position: relative;
        color: #999;
    }
    .rwd-nav .brand-sites>ul>li:nth-child(1)>a{
        color: #000;
    }
    .rwd-nav .brand-sites>ul>li>a::after{
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        z-index: 9999;
    }
    .rwd-nav .brand-sites>ul>li:hover>a{
        color: #000;
    }
    .rwd-nav .brand-sites>ul>li:hover>a::after{
        width: 90%;
        opacity: 1;
        visibility: visible;
    }
    .rwd-nav .brand-sites>ul>li:nth-child(1)>a::after{
        background-color: var(--basic-green-color);
        width: 90%;
        opacity: 1;
        visibility: visible;
    }
    .rwd-nav .brand-sites>ul>li:nth-child(2)>a::after{
        background: var(--basic-red-color);
    }
    .rwd-nav .brand-sites>ul>li:nth-child(3)>a::after{
        background: var(--basic-orange-color);
    }
    .rwd-nav .brand-sites>ul>li:nth-child(4)>a::after{
        background: var(--basic-blue-color);
    }

/* bottom-header(gnb) 시작*/
    .rwd-nav .bottom-header{
        width: 100%;
        height: auto;
        padding: 27px 30px;
        background: #fff;
    }
    .rwd-nav .bottom-header .gnb{
        width: 100%;
        max-width: 650px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex: 1; */
        border:0px solid #00f;
        /* padding: 1.75rem 0 1.5rem; */
    }
    .rwd-nav .bottom-header .gnb>ul{
        /* width: 33.8541%;
        min-width: 650px; */
        width: 100%;
        max-width: 650px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 0 0.469rem; */
    }
    
    .rwd-nav .bottom-header .gnb>ul>li{
        font-weight: 600;
        font-size: 1rem;
    }
    .rwd-nav .bottom-header .gnb>ul>li>a{
        display: block;
        position: relative;
    }
    
    /* .rwd-nav .bottom-header .gnb>ul>li>a::after{
        content: '';
        width: 100%;
        height: 2px;
        background: var(--basic-red-color);
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .2s;
    } */
    .rwd-nav .bottom-header .gnb .N-LIVE>a{
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: .5px;
        margin-left:10px;
        position: relative;
    }
    .rwd-nav .bottom-header .gnb .N-LIVE>a::after{
        height: 0px;
    }
    .rwd-nav .bottom-header .gnb .N-LIVE>a::before{
        cursor: pointer;
        content: '';
        background: url(../../img/nlive-border.png)no-repeat 50%;
        display: block;
        width: 12rem;
        height: 3rem;
        position: absolute;
        top:55%;
        left: 50%;
        /* top:5%;
        right: 0%; */
        transform: translate(-50%, -50%);
        border: 0px solid #fff;
    
    }

    
    .rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb{
        width: 100%;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        padding: 14px 0 18px;
        margin-bottom: 28px;
    }
    .rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li{
        width: 33.3333% !important;
    }
    .rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a{
        width: 100%;
        flex-direction: column;
        font-weight: 300;
        font-size: 0.813rem;
        border: px solid #f00;
        letter-spacing: 0;
        line-height:2rem;
        position: relative;
        
    }
    .rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::before{
        content:'';
        width: 10px;
        height: 10px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
    
    }
    .rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::after{
        content:'';
        width: 3px;
        height: 3px;
        border: 1px solid #555;
        border-right: 0;
        border-bottom: 0;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: -15px;
        transform: rotate(135deg);
        z-index: 13;
    }

    ul.sub-gnb ul.sub-3depth{
        grid-area: 2 / 3 / -1/ -1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    ul.sub-gnb ul.sub-3depth>li{
        width: 100%;
        font-weight: 400;
        font-size: 0.9em;
        margin: .6vh 0;
        display:none;
    }
    .gnb>ul>li:nth-child(1) .sub-gnb:nth-child(1) ul.sub-3depth:nth-child(2){
        width: 100%;
        flex-direction: column;
        font-weight: 400;
        font-size: 0.9em;
        border: 1px solid #f00;

    }
    .sub-3depth.columns3>li{

        display:none;
    }
    
    
    /*gnb-sub -- 3depth-sub 세부*/
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 1 / -1 / 2 !important;
    }
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(6){
        grid-area: 2 / 2 / -1/ 3 !important;
    }
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(7){
        grid-area: 2 / 3 / -1/ 4 !important;
    }
    
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(4){
        grid-area: 1 / 4 / 2 / -1 !important;
    }
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 1 / -1/ 2 !important;
    }
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(6){
        grid-area: 2 / 2 / -1/ 3 !important;
    }
    
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(4){
        grid-area: 2 / 1 / -1 / 3 !important;
    }
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 3 / -1/ -1 !important;
    }
    
    .rwd-nav .bottom-header .gnb>ul>li:nth-child(5) ul.sub-gnb>li:nth-child(5){
        grid-area: 2 / 1 / -1/ 2 !important;
    }

    
    span.site-map.closeBtn{
        display:none;
    }

}




/* //////////////////////////////////////////////////////// */
/* 반응형 header 숨김*/

.rwd-header{        
    display: block !important;
    width: 100%;
    height: auto;    
    border: 0px solid #f00;
    z-index: 8899;
    background: #0005;
}
.rwd-header .rwd-inner-header{        
    display:none;
}

.rwd-header .rwd-inner-header h1.logo{
    width:85px;
    height:auto;
    border: 0px solid #f00;
    margin: 13px 20px;
}
.rwd-header .rwd-inner-header h1.logo img{
    display:block;
    width:100%;
    height:auto;
}
.rwd-header .rwd-inner-header .rwd-menu{
    width: auto;
    border:0px solid #f00;
    height: auto;
    display:flex;
    justify-content: flex-start;  
    padding: 13px 20px; 

}
.rwd-header .rwd-inner-header .rwd-menu span.menu{
    display: block;
    width: 25px;
    height: 25px;
    border:1px solid #f00;
    margin-left: 20px;
}
.rwd-header .rwd-inner-header .rwd-menu span.menu img{
    display:block;
    width:100%;
    height:auto;
}
.rwd-nav{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .5s;
    width:100%;
    height:100vh;
    /* opacity: 0; */
    visibility: hidden;
    overflow-y: auto;
    z-index: 9000;
}
.navOpen{
    width: 100% !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;

}
.rwd-nav .top-header{
    width: 100%;
    height: auto;    
    /* border: 1px solid ; */
    box-shadow: 0px 10px 15px rgba(125, 125, 125, 0.3);
    border-top: 4px solid var(--basic-green-color);
    padding: 9px 18px 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    display:none;
}
.rwd-nav .top-header h1.logo{
    width:80px;
    height:auto;
    border: 0px solid #f00;
}
.rwd-nav .top-header h1.logo img{
    display:block;
    width:100%;
    height:auto;
}
.rwd-nav .top-header .goTo-menu{
    width:16.9525%;
    max-width:168px;
    height:24px;
    /* padding-top: 4px; */
    border: 0px solid;

    display:none;
}
.rwd-nav .top-header .goTo-menu>ul{
    display:flex;
    justify-content: space-between;
}
.rwd-nav .top-header .goTo-menu>ul>li{
    width:17px;
    border:0px solid;
    height:auto;
    /* padding:8px; */
    opacity: .7;
}
.rwd-nav .top-header .goTo-menu>ul>li img{
    display:block;
    width:100%;
    height:auto;
}


.rwd-nav .top-header .goTo-menu>ul>li:nth-child(3){
    width:23px;
    padding-top: 1px;
}


/* brand-sites */
.rwd-nav .brand-sites{
    width: 100%;
    margin:0 auto;
    height: auto;
    max-width:660px;
    margin-top:27px;
    line-height: 42px;
    background: #fff;
    z-index: 9000;
}
.rwd-nav .brand-sites>ul{
    display: flex;
    justify-content: space-between;

    /* padding-top: 3px; */
    position: relative;
}
.rwd-nav .brand-sites>ul>li{
    width: 25%;
    text-align: center;
    font-size: 0.938rem;
    transition: all .3s;
    line-height:38px;
}
.rwd-nav .brand-sites>ul>li>a{
    width: 100%;
    display: block;
    font-weight: bold;
    position: relative;
    color: #999;
}
.rwd-nav .brand-sites>ul>li:nth-child(1)>a{
    color: #000;
}
.rwd-nav .brand-sites>ul>li>a::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 8899;
}
.rwd-nav .brand-sites>ul>li:hover>a{
    color: #000;
}
.rwd-nav .brand-sites>ul>li:hover>a::after{
    width: 90%;
    opacity: 1;
    visibility: visible;
}
.rwd-nav .brand-sites>ul>li:nth-child(1)>a::after{
    background-color: var(--basic-green-color);
    width: 90%;
    opacity: 1;
    visibility: visible;
}
.rwd-nav .brand-sites>ul>li:nth-child(2)>a::after{
    background: var(--basic-red-color);
}
.rwd-nav .brand-sites>ul>li:nth-child(3)>a::after{
    background: var(--basic-orange-color);
}
.rwd-nav .brand-sites>ul>li:nth-child(4)>a::after{
    background: var(--basic-blue-color);
}
span.site-map.closeBtn{
    display:block;
    width:40px;
    height:40px;
    
    position: absolute;
    top:0;
    right:0;
}

span.site-map.closeBtn img{
display:block;
width:100%;
height:auto;
}
/* bottom-header(gnb) 시작*/
.rwd-nav .bottom-header{
    width: 100%;
    height: auto;
    padding: 27px 30px;
    background: url(../../img/sitemap_bg_01.png) no-repeat 50% /cover;
}
.rwd-nav .bottom-header .gnb{
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 1; */
    border:0px solid #00f;
    /* padding: 1.75rem 0 1.5rem; */
}
.rwd-nav .bottom-header .gnb>ul{
    /* width: 33.8541%;
    min-width: 650px; */
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0 0.469rem; */
}

.rwd-nav .bottom-header .gnb>ul>li{
    font-weight: 600;
    font-size: 1rem;
}
.rwd-nav .bottom-header .gnb>ul>li>a{
    display: block;
    position: relative;
}

/* .rwd-nav .bottom-header .gnb>ul>li>a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--basic-red-color);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s;
} */
.rwd-nav .bottom-header .gnb .N-LIVE>a{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin-left:10px;
    position: relative;
}
.rwd-nav .bottom-header .gnb .N-LIVE>a::after{
    height: 0px;
}
.rwd-nav .bottom-header .gnb .N-LIVE>a::before{
    cursor: pointer;
    content: '';
    background: url(../../img/nlive-border.png)no-repeat 50%;
    display: block;
    width: 12rem;
    height: 3rem;
    position: absolute;
    top:55%;
    left: 50%;
    /* top:5%;
    right: 0%; */
    transform: translate(-50%, -50%);
    border: 0px solid #fff;

}


.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 14px 0 18px;
    margin-bottom: 28px;
}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li{
    width: 33.3333% !important;
}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a{
    width: 100%;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.813rem;
    border: px solid #f00;
    letter-spacing: 0;
    line-height:2rem;
    position: relative;
    
}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::before{
    content:'';
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;

}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::after{
    content:'';
    width: 3px;
    height: 3px;
    border: 1px solid #555;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: -15px;
    transform: rotate(135deg);
    z-index: 13;
}

ul.sub-gnb ul.sub-3depth{
    grid-area: 2 / 3 / -1/ -1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
ul.sub-gnb ul.sub-3depth>li{
    width: 100%;
    font-weight: 400;
    font-size: 0.9em;
    margin: .6vh 0;
    display:none;
}
.gnb>ul>li:nth-child(1) .sub-gnb:nth-child(1) ul.sub-3depth:nth-child(2){
    width: 100%;
    flex-direction: column;
    font-weight: 400;
    font-size: 0.9em;
    border: 1px solid #f00;

}
.sub-3depth.columns3>li{

    display:none;
}


/*gnb-sub -- 3depth-sub 세부*/
.rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 1 / -1 / 2 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(6){
    grid-area: 2 / 2 / -1/ 3 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(7){
    grid-area: 2 / 3 / -1/ 4 !important;
}

.rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(4){
    grid-area: 1 / 4 / 2 / -1 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 1 / -1/ 2 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(6){
    grid-area: 2 / 2 / -1/ 3 !important;
}

.rwd-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(4){
    grid-area: 2 / 1 / -1 / 3 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 3 / -1/ -1 !important;
}

.rwd-nav .bottom-header .gnb>ul>li:nth-child(5) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 1 / -1/ 2 !important;
}


/* ////////////////////// */


.rwd-header .rwd-inner-header{        
    display:none;
}

.rwd-header .rwd-inner-header h1.logo{
    width:85px;
    height:auto;
    border: 0px solid #f00;
    margin: 13px 20px;
}
.rwd-header .rwd-inner-header h1.logo img{
    display:block;
    width:100%;
    height:auto;
}
.rwd-header .rwd-inner-header .rwd-menu{
    width: auto;
    border:0px solid #f00;
    height: auto;
    display:flex;
    justify-content: flex-start;  
    padding: 13px 20px; 

}
.rwd-header .rwd-inner-header .rwd-menu span.menu{
    display: block;
    width: 25px;
    height: 25px;
    border:1px solid #f00;
    margin-left: 20px;
}
.rwd-header .rwd-inner-header .rwd-menu span.menu img{
    display:block;
    width:100%;
    height:auto;
}
.rwd-nav{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .5s;
    width:100%;
    height:100vh;
    /* opacity: 0; */
    visibility: hidden;
    overflow-y: auto;
    z-index: 9000;
}
.navOpen{
    width: 100% !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;

}
.rwd-nav .top-header{
    width: 100%;
    height: auto;    
    /* border: 1px solid ; */
    box-shadow: 0px 10px 15px rgba(125, 125, 125, 0.3);
    border-top: 4px solid var(--basic-green-color);
    padding: 9px 18px 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    display:none;
}
.rwd-nav .top-header h1.logo{
    width:80px;
    height:auto;
    border: 0px solid #f00;
}
.rwd-nav .top-header h1.logo img{
    display:block;
    width:100%;
    height:auto;
}
.rwd-nav .top-header .goTo-menu{
    width:16.9525%;
    max-width:168px;
    height:24px;
    /* padding-top: 4px; */
    border: 0px solid;

    display:none;
}
.rwd-nav .top-header .goTo-menu>ul{
    display:flex;
    justify-content: space-between;
}
.rwd-nav .top-header .goTo-menu>ul>li{
    width:17px;
    border:0px solid;
    height:auto;
    /* padding:8px; */
    opacity: .7;
}
.rwd-nav .top-header .goTo-menu>ul>li img{
    display:block;
    width:100%;
    height:auto;
}


.rwd-nav .top-header .goTo-menu>ul>li:nth-child(3){
    width:23px;
    padding-top: 1px;
}


/* brand-sites */
.rwd-nav .brand-sites{
    width: 100%;
    margin:0 auto;
    height: auto;
    max-width:660px;
    margin-top:27px;
    line-height: 42px;
    background: #fff;
    z-index: 9000;
}
.rwd-nav .brand-sites>ul{
    display: flex;
    justify-content: space-between;

    /* padding-top: 3px; */
    position: relative;
}
.rwd-nav .brand-sites>ul>li{
    width: 25%;
    text-align: center;
    font-size: 0.938rem;
    transition: all .3s;
    line-height:38px;
}
.rwd-nav .brand-sites>ul>li>a{
    width: 100%;
    display: block;
    font-weight: bold;
    position: relative;
    color: #999;
}
.rwd-nav .brand-sites>ul>li:nth-child(1)>a{
    color: #000;
}
.rwd-nav .brand-sites>ul>li>a::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 8899;
}
.rwd-nav .brand-sites>ul>li:hover>a{
    color: #000;
}
.rwd-nav .brand-sites>ul>li:hover>a::after{
    width: 90%;
    opacity: 1;
    visibility: visible;
}
.rwd-nav .brand-sites>ul>li:nth-child(1)>a::after{
    background-color: var(--basic-green-color);
    width: 90%;
    opacity: 1;
    visibility: visible;
}
.rwd-nav .brand-sites>ul>li:nth-child(2)>a::after{
    background: var(--basic-red-color);
}
.rwd-nav .brand-sites>ul>li:nth-child(3)>a::after{
    background: var(--basic-orange-color);
}
.rwd-nav .brand-sites>ul>li:nth-child(4)>a::after{
    background: var(--basic-blue-color);
}
span.site-map.closeBtn{
    display:block;
    width:40px;
    height:40px;
    
    position: absolute;
    top:0;
    right:0;
}

span.site-map.closeBtn img{
display:block;
width:100%;
height:auto;
}
/* bottom-header(gnb) 시작*/
.rwd-nav .bottom-header{
    width: 100%;
    height: auto;
    padding: 27px 30px;
    background: url(../../img/sitemap_bg_01.png) no-repeat 50% /cover;
}
.rwd-nav .bottom-header .gnb{
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 1; */
    border:0px solid #00f;
    /* padding: 1.75rem 0 1.5rem; */
}
.rwd-nav .bottom-header .gnb>ul{
    /* width: 33.8541%;
    min-width: 650px; */
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0 0.469rem; */
}

.rwd-nav .bottom-header .gnb>ul>li{
    font-weight: 600;
    font-size: 1rem;
}
.rwd-nav .bottom-header .gnb>ul>li>a{
    display: block;
    position: relative;
}

/* .rwd-nav .bottom-header .gnb>ul>li>a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--basic-red-color);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s;
} */
.rwd-nav .bottom-header .gnb .N-LIVE>a{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin-left:10px;
    position: relative;
}
.rwd-nav .bottom-header .gnb .N-LIVE>a::after{
    height: 0px;
}
.rwd-nav .bottom-header .gnb .N-LIVE>a::before{
    cursor: pointer;
    content: '';
    background: url(../../img/nlive-border.png)no-repeat 50%;
    display: block;
    width: 12rem;
    height: 3rem;
    position: absolute;
    top:55%;
    left: 50%;
    /* top:5%;
    right: 0%; */
    transform: translate(-50%, -50%);
    border: 0px solid #fff;

}


.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 14px 0 18px;
    margin-bottom: 28px;
}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li{
    width: 33.3333% !important;
}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a{
    width: 100%;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.813rem;
    border: px solid #f00;
    letter-spacing: 0;
    line-height:2rem;
    position: relative;
    
}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::before{
    content:'';
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;

}
.rwd-nav .bottom-header .gnb>ul>li ul.sub-gnb>li>a::after{
    content:'';
    width: 3px;
    height: 3px;
    border: 1px solid #555;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: -15px;
    transform: rotate(135deg);
    z-index: 13;
}

ul.sub-gnb ul.sub-3depth{
    grid-area: 2 / 3 / -1/ -1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
ul.sub-gnb ul.sub-3depth>li{
    width: 100%;
    font-weight: 400;
    font-size: 0.9em;
    margin: .6vh 0;
    display:none;
}
.gnb>ul>li:nth-child(1) .sub-gnb:nth-child(1) ul.sub-3depth:nth-child(2){
    width: 100%;
    flex-direction: column;
    font-weight: 400;
    font-size: 0.9em;
    border: 1px solid #f00;

}
.sub-3depth.columns3>li{

    display:none;
}


/*gnb-sub -- 3depth-sub 세부*/
.rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 1 / -1 / 2 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(6){
    grid-area: 2 / 2 / -1/ 3 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(2) ul.sub-gnb>li:nth-child(7){
    grid-area: 2 / 3 / -1/ 4 !important;
}

.rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(4){
    grid-area: 1 / 4 / 2 / -1 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 1 / -1/ 2 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(3) ul.sub-gnb>li:nth-child(6){
    grid-area: 2 / 2 / -1/ 3 !important;
}

.rwd-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(4){
    grid-area: 2 / 1 / -1 / 3 !important;
}
.rwd-nav .bottom-header .gnb>ul>li:nth-child(4) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 3 / -1/ -1 !important;
}

.rwd-nav .bottom-header .gnb>ul>li:nth-child(5) ul.sub-gnb>li:nth-child(5){
    grid-area: 2 / 1 / -1/ 2 !important;
}
